<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mp.dao.storeMapper" >
  <resultMap id="BaseResultMap" type="com.mp.pojo.Store" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="sname" property="sname" jdbcType="VARCHAR" />
    <result column="sdescribe" property="sdescribe" jdbcType="DOUBLE" />
    <result column="service_attitude" property="serviceAttitude" jdbcType="DOUBLE" />
    <result column="logistics_speed" property="logisticsSpeed" jdbcType="DOUBLE" />
    <result column="credibility" property="credibility" jdbcType="DOUBLE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="shop_address" property="shopAddress" jdbcType="VARCHAR" />
    <result column="activity" property="activity" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, sname, sdescribe, service_attitude, logistics_speed, credibility, phone, shop_address, 
    activity, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mp.pojo.Store" >
    insert into store (sid, sname, sdescribe, 
      service_attitude, logistics_speed, credibility, 
      phone, shop_address, activity, 
      state)
    values (#{sid,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{sdescribe,jdbcType=DOUBLE}, 
      #{serviceAttitude,jdbcType=DOUBLE}, #{logisticsSpeed,jdbcType=DOUBLE}, #{credibility,jdbcType=DOUBLE}, 
      #{phone,jdbcType=VARCHAR}, #{shopAddress,jdbcType=VARCHAR}, #{activity,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mp.pojo.Store" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="sname != null" >
        sname,
      </if>
      <if test="sdescribe != null" >
        sdescribe,
      </if>
      <if test="serviceAttitude != null" >
        service_attitude,
      </if>
      <if test="logisticsSpeed != null" >
        logistics_speed,
      </if>
      <if test="credibility != null" >
        credibility,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="shopAddress != null" >
        shop_address,
      </if>
      <if test="activity != null" >
        activity,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="sname != null" >
        #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sdescribe != null" >
        #{sdescribe,jdbcType=DOUBLE},
      </if>
      <if test="serviceAttitude != null" >
        #{serviceAttitude,jdbcType=DOUBLE},
      </if>
      <if test="logisticsSpeed != null" >
        #{logisticsSpeed,jdbcType=DOUBLE},
      </if>
      <if test="credibility != null" >
        #{credibility,jdbcType=DOUBLE},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="shopAddress != null" >
        #{shopAddress,jdbcType=VARCHAR},
      </if>
      <if test="activity != null" >
        #{activity,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mp.pojo.Store" >
    update store
    <set >
      <if test="sname != null" >
        sname = #{sname,jdbcType=VARCHAR},
      </if>
      <if test="sdescribe != null" >
        sdescribe = #{sdescribe,jdbcType=DOUBLE},
      </if>
      <if test="serviceAttitude != null" >
        service_attitude = #{serviceAttitude,jdbcType=DOUBLE},
      </if>
      <if test="logisticsSpeed != null" >
        logistics_speed = #{logisticsSpeed,jdbcType=DOUBLE},
      </if>
      <if test="credibility != null" >
        credibility = #{credibility,jdbcType=DOUBLE},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="shopAddress != null" >
        shop_address = #{shopAddress,jdbcType=VARCHAR},
      </if>
      <if test="activity != null" >
        activity = #{activity,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mp.pojo.Store" >
    update store
    set sname = #{sname,jdbcType=VARCHAR},
      sdescribe = #{sdescribe,jdbcType=DOUBLE},
      service_attitude = #{serviceAttitude,jdbcType=DOUBLE},
      logistics_speed = #{logisticsSpeed,jdbcType=DOUBLE},
      credibility = #{credibility,jdbcType=DOUBLE},
      phone = #{phone,jdbcType=VARCHAR},
      shop_address = #{shopAddress,jdbcType=VARCHAR},
      activity = #{activity,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>