<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mp.dao.userMapper" >
	
	<!-- 修改个人信息 -->
	<update id="updateUser" parameterType="User">
		 update user
	    <set>
			<trim suffixOverrides=",">
				<if test="uname != null" >
			        uname = #{uname},
			      </if>
			      <if test="headPortrait != null" >
			        head_portrait = #{headPortrait},
			      </if>
			      <if test="nickName != null" >
			        nick_name = #{nickName},
			      </if>
			      <if test="sex != null" >
			        sex = #{sex},
			      </if>
			      <if test="age != null" >
			        age = #{age},
			      </if>
			      <if test="phone != null" >
			        phone = #{phone},
			      </if>
			      <if test="email != null" >
			        email = #{email},
			      </if>
			      <if test="password != null" >
			        password = #{password},
			      </if>
			</trim>
	    </set>
	    where uid = #{uid}
	</update>
	
	<!-- 查询是否存在该用户 -->
	<select id="selectUserForuName" resultType="int">
		select count(*) from user where nick_name=#{nickName}
	</select>

	<select id="login" resultMap="BaseResultMap">
		select * from user where nick_name=#{nickName} and password=#{password} 
	</select>
	
	<!-- 修改密码 -->
	<update id="updatePassword">
		update user set password=#{password} where nick_name = #{nickName}
	</update>
	
	<!-- 根据登录名查电话 -->
	<select id="phoneForNickName" resultType="String">
		select phone from user where nick_name=#{nickName}
	</select>

  <resultMap id="BaseResultMap" type="com.mp.pojo.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, uname, head_portrait, nick_name, sex, age, phone, email, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mp.pojo.User" >
    insert into user (uname,head_portrait,nick_name,sex,age,phone,email,password,state)
    value (#{uname},#{headPortrait},#{nickName},#{sex},#{age},#{phone},#{email},#{password},#{state})
  </insert>
  <insert id="insertSelective" parameterType="com.mp.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="headPortrait != null" >
        head_portrait,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null" >
        #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mp.pojo.User" >
    update user
    <set >
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="headPortrait != null" >
        head_portrait = #{headPortrait,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mp.pojo.User" >
    update user
    set uname = #{uname,jdbcType=VARCHAR},
      head_portrait = #{headPortrait,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>